{% extends 'theblog/base.html' %}

{% block title_here %}
About
{% endblock %}


{% block content %}
<H2  class="text-center"> About Page</H2>
<div style="margin: 0 34px;">

    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo adipisci asperiores facere voluptates saepe, libero facilis sint earum dolorem, provident repellendus minima cum qui, fugiat beatae officiis? Alias, cum quae!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi eveniet eum deleniti quidem neque provident possimus dolore corrupti officia earum delectus harum, a magni incidunt ad optio asperiores perspiciatis qui sequi beatae exercitationem aperiam ea! Hic sed perspiciatis ratione sapiente rerum similique minus laborum sint cupiditate sequi deserunt quos sit consequuntur voluptates nihil aliquid assumenda, molestiae eaque corrupti eos! Non quasi temporibus dolorem laborum minus eum, deserunt hic ratione beatae quam assumenda nulla id et dolor sint suscipit ea mollitia nobis quisquam corporis iste nisi, ducimus cupiditate ullam? Placeat iste porro ipsa eius deleniti earum odio id nesciunt repellendus adipisci.</p>
</div>
{%  endblock %}